# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtualenv
venv/
.venv/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
/staticfiles

# Env / secrets
.env
.env.local

# Celery
celerybeat-schedule
celerybeat.pid

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
